@import "tailwindcss";

@theme {
  /* Branding colors */
  --color-primary: #DB1D12;
  --color-light: #F5F5F5;
  --color-dark: #2C2C2C;

  /* Utils colors */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;
}

:root {
  /* Utils spacing */
  --header-height: 72px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: var(--color-dark);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(44, 44, 44, 0.6);
  color: var(--color-light);
  text-shadow: none;
}

::-moz-selection {
  background: rgba(44, 44, 44, 0.6);
  color: var(--color-light);
  text-shadow: none;
}

/* ======================================================= */
/* Main min height */
/* ======================================================= */

main {
  min-height: 80vh;
}

/* ======================================================= */
/* Forms */
/* ======================================================= */

textarea {
  resize: vertical;
  min-height: 150px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* ======================================================= */
/* Titles and texts */
/* ======================================================= */

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('/fonts/Century_Gothic_Bold.ttf');
}

.century-gothic-bold {
  font-family: 'Century Gothic Bold', Roboto, sans-serif;
}

.title-hero-home {
  font-family: 'Century Gothic Bold', Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.25;
}

@media (min-width: 768px) {
  .title-hero-home {
    font-size: 3.75rem;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .title-hero-home {
    font-size: 3.5rem;
  }
}

@media (max-width: 639px) {
  .title-hero-home {
    font-size: 3rem;
  }
}

.title-hero-page {
  font-family: 'Century Gothic Bold', Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.25;
}

.title-hero-page::after {
  content: "";
  display: block;
  width: min(100px, 20%);
  height: 3px;
  background-color: var(--color-primary);
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .title-hero-page {
    font-size: 3.5rem;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .title-hero-page {
    font-size: 2.5rem;
  }
}

@media (max-width: 639px) {
  .title-hero-page {
    font-size: 2rem;
  }
}

.title-main {
  font-family: 'Century Gothic Bold', Roboto, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--color-dark);
}

.title-submain {
  font-family: 'Century Gothic Bold', Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-dark);
}

address {
  font-style: normal;
}

/* ======================================================= */
/* safe-area layout styles */
/* ======================================================= */


@media (min-width: 1536px) {
  .safe-area-sm {
    margin: 0.75rem;
    padding: 0.75rem;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .safe-area-sm {
    margin: 0.75rem;
    padding: 0.75rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .safe-area-sm {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .safe-area-sm {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .safe-area-sm {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

@media (max-width: 639px) {
  .safe-area-sm {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

@media (min-width: 1536px) {
  .safe-area-md {
    margin: 1.5rem 4rem;
    padding: 1.5rem 4rem;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .safe-area-md {
    margin: 1rem 3rem;
    padding: 1rem 3rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .safe-area-md {
    margin: 1rem 2rem;
    padding: 1rem 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .safe-area-md {
    margin: 0.5rem 1rem;
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .safe-area-md {
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 639px) {
  .safe-area-md {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
  }
}

/* ======================================================= */
/* Others */
/* ======================================================= */

hr {
  border: none;
  border-top: 1px solid #E5E5E5;
}

/* ======================================================= */
/* Notivue styles */
/* ======================================================= */

:root {
  --nv-root-top: calc(var(--header-height) + 10px);
  --nv-root-left: 10px;
}